/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v40-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fuentes/oswald-v40-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fuentes/oswald-v40-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fuentes/oswald-v40-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fuentes/oswald-v40-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fuentes/oswald-v40-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
  }

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto-thin';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fuentes/roboto-v29-latin-100.woff2') format('woff2'); /* Legacy iOS */
  }
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fuentes/roboto-v29-latin-regular.woff2') format('woff2'); /* Super Modern Browsers */
}
  /* droid serif - latin */
@font-face {
    font-family: 'Droid-serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fuentes/DroidSerif.ttf'); /* IE9 Compat Modes */
    src: local(''),
         url('../fuentes/DroidSerif.ttf') format('truetype'); /* Safari, Android, iOS */
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 9px;
}

/* Section I */

.sectionI {
   font-family: Roboto;
}

.first_container {
    display: flex;
    padding: 36px;
}

.item_left {    
    flex-basis: 48%; 
    color: #88DD42;
    justify-content: center;
    display: flex;
    align-self: center;
    font-size: 8em;
    border-color: violet ;
}

.first_word {
    color: #2470a3;
    font-family: Roboto-thin;
    font-weight: lighter;
}

.last_word {
    font-family: Roboto;
    font-weight: 900;
}

.item_right {
    padding: 12px;
    flex-basis: 52%;
    font-size: 2.1em;
}

.text_right h2 {
    margin: 5px;
    transform: rotate(5deg);
    font-weight: bold;
    font-size: 2.2em;
}

.text_right p {
    color: #5fc0fb;
    line-height: 1.7;    
    margin: 5px;
    transform: rotate(5deg);
    font-family: roboto-thin;
    font-weight: bolder;
}

.text_right {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-bottom: 4%;
}

.landscape {
    background-image: url(../assets/Layer-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(123%);
    transform: rotate(-5deg);
    display: flex;
    justify-content: initial;
    align-items: flex-end;
    padding: 8px;
    height: 408px;
    width: 91%;
}

/* Second part */

.item_2 {
    background-color: #454545;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.album {
    display: flex;
    justify-content: space-evenly;
    width: 49%;
    align-self: flex-end;
    position: relative;
    right: 3%;
    padding: 1%;
    margin-top: 1%;
}


.arrow{
    position: relative;
    top: 45px;
    height: fit-content;
    filter: invert(1);
    opacity: 2;
}

.arrow:hover {
    filter: invert(80%) sepia(54%) saturate(6132%) hue-rotate(195deg) brightness(100%) contrast(94%); 
    opacity: 2;
}

.image {
    border-style: ridge;
    border-width: thick;
    border-color: transparent;
    width: 16%;
}

.image:hover {
    border-collapse: collapse;
    border-style: ridge;
    border-width: thick;
    border-color: cornflowerblue;
}

.display {
    background-image: url(../assets/apple-display.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 40%;
    background-size: contain;
    height: 140%;
    top: 375px;
    left: 5%;
}

.text_item_2 {
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.4em;
    width: 52%;
    font-family: droid-serif;
    align-self: flex-end;
    padding: 1%;
}

.text_item_2 p {
    font-size: 1.5em;
    line-height: 1.6;
    padding: 2px;
}

.title {
    color: #82d43e;
    margin-bottom: 0%;
    position: relative;
    bottom: 27px;
    font-family: Roboto;
    padding: 0px;
    font-size: 4em;
}

/* Section two */

.sectionII {
    display: flex;
    padding: 31px 4px 64px 4px;
}

.first_box_middle {
    flex-basis: 33%;
    color: #515151;
    font-family: roboto;
    text-align: right;
    font-size: 2.2em;
    line-height: 1.7;
    margin: 1px 21px 1px 0;
    padding: 10px 15px 10px 0;
}

.line {
    border-style: solid;
    border-color: transparent;
    white-space: normal;
    line-break: auto;
}

.estilo_titulo {
    font-family: Oswald;
    color: #2470a3;
    font-weight: 800;
    padding: 7px 1px 1px 5px;
    margin: 27px 0px 15px 1px;
}

.estilo_titulo span {
    color: #5DADE2;
    font-family: roboto;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 10px;
}

.second_box_middle {
    flex-basis: 60%;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-top: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    
}

.one {
    position: relative;
    top: 50px;
    border-color:#5DADE2 ;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
}

.two {
    position: relative;
    bottom: 40px;
    border-color: #5DADE2 ;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
}

.three {
    position: relative;
    top: 50px;
    border-color:#5DADE2 ;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
}

.four {
    border-right: transparent;
    border-bottom: transparent;
    border-top: transparent;
    position: relative;
    bottom: 40px;
}

table .estilo_titulo {
    margin-top: 3%;
    margin-bottom: 3.5%;
    padding: 2%;
    font-size: 2.35em;
    text-align: center;
    border-style: ridge;
    border-right: transparent;
    border-left: transparent;
    border-width: thin;
    border-color: #5DADE2;
}

td p {
    font-size: 7em;
    font-family: roboto;
    font-weight:bolder;
    text-align: center;
    color: #959393;
    padding: 23% 19px;
    line-height: 70%;
}

td p span {
    font-size: 0.6em;
    text-align: center;
    font-family: Roboto-thin;
}
.second_box_middle img {
    width: 47%;
}

.one img, .three img {
    position: relative;
    bottom: 224px;
    left: 58px;
}

.two img, .four img {
    position: relative;
    bottom: 67px;
    left: 62px;
}

/* Section three */

.sectionIII {
    background-color: #c93c20 ;
    display: flex;
    padding: 7%;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-style: outset;
    border-color: transparent;
    border-radius: 1%;
    padding: 1%;
}

.user, .password {
    padding: 14px 10px;
    margin: 3% 7% ;
    border-style: solid;
    border-color: silver;
    border-width: thin;
    border-radius: 1%;
}

form span {
    border-width: thin;
    font-size: 1.5em;
    margin-left: 10px;
    font-family: roboto;
    color: #5e5454;
}

.fondo {
    padding: 4% 6%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

legend {
    font-family: roboto;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 3%;
    border-color: transparent;
    border-bottom-color: lightgray;
    text-align: center;
    border-width: thin;
    border-style: solid;
    font-size: 2em;
}

.boton {
    margin: 0 0 0 13%;
    padding: 2% 5%;
    border-style: solid;
    font-weight: 600;
    color: #555555;
    border-width: thin;
    border-radius: 50px;
    background-color: #deeef8;
    border-color: silver;
}

.reset-link {
    color: white;
    margin-top: 30px;
    font-family: roboto;
    font-size: 1.7em;
}

::placeholder {
    font-family: roboto;
    color: silver;
    font-size: 110%;
}

input:hover {
    border-color: #5DADE2;
}

.boton:hover {
    border-color: transparent;
    background-color: #a7d2f0;
}

input:focus {
    outline: #5DADE2 solid thin;
}

/*Media Query*/

@media screen and (max-width: 1345px) {
    body {
        font-size: 8.5px;
    }
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 6.8px;
    }

    .one img, .three img {
        bottom: 181px;
        left: 47px;
    }
    
    .two img, .four img {
        bottom: 51px;
        left: 45px;
    }

    .landscape {
        height: 307px;
        padding: 1px;
        width: 100%;
    }

    .text_right {
        padding: 1%;
        font-size: 1.14em;
        margin: 15px;
    }

    .display {
        top: 293px;
    }

    .title {
        bottom: 18px;
    }

    .arrow {
        top: 28px;
    }
    .form spam {
        font-size: 2em;
    }
    legend {
        font-size: 2.5em;
    }
    .tex_item_2 p {
        font-size: 1.7em;
    }
    .estilo_titulo {
        margin: 20px 0px 15px 1px;
    }
}
@media screen and (max-width: 810px) {
    body {
        font-size: 4.6px;
    }

    .landscape {
        height: 227px;
        padding: 1px;
        width: 100%;
    }

    .text_right {
        font-size: 1.16em;
        margin: 14px;
    }
    
    .display {
    top: 224px;
    }

    .title {
    bottom: 13px;
    }

    .arrow {
    top: 18px;
    }

    .one img, .three img {
    bottom: 100px;
    left: 38px;
    }

    .two img, .four img {
    bottom: 13px;
    left: 33px;
    }

    .estilo_titulo {
    margin: 4px 0px 15px 1px;
    }

    legend {
    font-size: 3em;
    }

    .text_right p {
        margin: 3px 3px 11px 3px;
    }
    
    .text_item_2 p {
        font-size: 1.8em;
    }
    
    td p {
        padding: 21% 12px 0px 19px;
    }
    
    .first_box_middle {
        font-size: 2.5em;
        margin: 1px 18px 2px 9px;
    }
    
    .second_box_middle {
        padding: 1px;
    }
    
    .user, .password {
        padding: 10px 1px;
        margin: 1% 7%;
    }
    
    form {
        padding: 3% 1%;
    }
    
    legend {
        padding: 10px;
    }
    
    .reset-link {
        font-size: 3em;
    }
    
    .fondo {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 810px) {
    body {
        font-size: 1.3px;
    }
.text_item_2 p {
        /* font-size: 1.5em; */
        font-size: 3.2em;
    }
  
.arrow {
    /* top: 45px; */
    top: 7px;
  }
  
  .text_right p {
    margin: 0;
    font-size: 1.1em;
  }
  
  .text_right {
    /* font-size: 2.14em; */
    font-size: 1em;
  }
  
  .album {
    /* width: 49%; */
    width: 53%;
  }
  
  .one img, .three img {
    /* bottom: 224px; */
    /* left: 58px; */
    bottom: 60px;
    left: 18px;
  }
  
  .two img, .four img {
    /* bottom: 67px; */
    /* left: 62px; */
    bottom: 7px;
    left: 19px;
  }
  
  .sectionII {
    /* padding: 31px 4px 64px 4px; */
    padding: 12px 4px 26px 4px;
  }
  
  .first_box_middle {
    /* font-size: 2.2em; */
    /* line-height: 1.7; */
    /* margin: 1px 21px 1px 0; */
    /* padding: 10px 15px 10px 0; */
    font-size: 4.6em;
    line-height: 1.9;
    margin: 1px 1px 1px 0;
    padding: 1px 4px 1px 0;
  }
  
  .estilo_titulo {
    /* padding: 7px 1px 1px 5px; */
    /* margin: 27px 0px 15px 1px; */
    padding: 6px 1px 1px 5px;
    margin: 8px 0px 5px 2px;
  }
  
  .item_2 {
    /* padding-bottom: 50px; */
    padding-bottom: 13px;
  }
  
  td p {
    /* font-size: 7em; */
    /* padding: 23% 19px; */
    font-size: 12.5em;
    padding: 1% 8px;
  }
  
  .second_box_middle {
    /* padding: 2px; */
    padding: 1px;
  }
  
  .one {
    /* top: 50px; */
    top: 28px;
  }
  
  .two {
    /* bottom: 40px; */
    bottom: -7px;
  }
  
  .estilo_titulo span {
    /* margin: 10px; */
    margin: 3px;
  }
  
  .four {
    /* bottom: 40px; */
    bottom: -8px;
  }
  
  .three {
    /* top: 50px; */
    top: 30px;
  }
  
  table .estilo_titulo {
    /* font-size: 2.35em; */
    font-size: 5em;
  }
  
  legend {
    /* padding: 15px; */
    /* font-size: 2em; */
    padding: 6px;
    font-size: 5em;
  }
  
  .user, .password {
    /* padding: 14px 10px; */
    /* margin: 3% 7%; */
    padding: 2px 2px;
    margin: 1% 2%;
    font-size: 5em;
  }
  
  form {
    width: 49%;
  }
  
  .sectionIII {
    /* padding: 7%; */
    padding: 10%;
  }
  
  .reset-link {
    margin-top: 15px;
    font-size: 5.7em;
    }
    .fondo {
    font-size: 1.5em;
    }
    .boton {
    padding: 2% 2%;
    }
    form span {
    margin-left: 0px;
    }

  .landscape {
    /* padding: 8px; */
    /* height: 408px; */
    /* width: 91%; */
    padding: 1px;
    height: 135px;
    width: 99%;
  }
  
  .first_container {
    /* padding: 36px; */
    padding: 4px;
  }
  
  .item_right {
    /* padding: 12px; */
    /* flex-basis: 52%; */
    padding: 10px;
    flex-basis: 56%;
  }
  
  .item_left {
    /* flex-basis: 48%; */
    /* font-size: 8em; */
    flex-basis: 44%;
    font-size: 18em;
  }
  
  .display {
    /* top: 375px; */
    /* left: 5%; */
    top: 120px;
    left: 2%;
  }
  
  .title {
    /* bottom: 27px; */
    /* font-size: 4em; */
    bottom: 5px;
    font-size: 11em;
  }
  
  
  .text_item_2 p {
    /* font-size: 1.5em; */
    /* padding: 2px; */
    padding: 1px;
    font-size: 5em;
  }
  
  .text_right h2 {
    /* margin: 5px; */
    /* font-size: 2.2em; */
    margin: 3px;
    font-size: 2.4em;
  }
  
  .text_right {
    margin-bottom: 6%;
    margin-left: 7px;
    }
  
}